<section>
     <br>
<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Browse Jobs</h4>

        <div class="row">
          <div class="col-sm-6">
            <p class="card-text">Find out where you are most in-demand.</p>
          </div>
          <div class="col-sm-6" >
            <form action="harvest()" id="myForm">
              <div class="input-group input-group-sm">
                <input placeholder="Enter your skills" type="text" name="newKeywords1" id="newKeywords1" />
                <input class="btn btn-primary" type="submit" onClick="harvest()"/>
              </div>

            </form>
          </div>
        </div><!--end row-->
        <div id="map" style="width:500px;height:500px;"></div>
      </div><!-- end card body-->
    </div><!-- end card-->
  </div><!-- end col-sm-12-->
</div><!-- end row -->
  
   
      <!--<img class="img-fluid" src="http://static6.businessinsider.com/image/52d85aaaeab8ea5a4348ebfb-1200-636/vaccinemap-us.png">-->
      

   
  

        
        
        
               
  
                    
               
          
      
         
     
      



</section>
