<section>
     <br>
<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Upload Resume</h4>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <label class="custom-file">
          <input type="file" id="file2" class="custom-file-input">
          <span class="custom-file-control">Choose File</span>
          
       </label>
          <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Browse Jobs</h4>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>
</section>