.card {
     -webkit-box-shadow: 5px 5px 15px 1px rgba(0, 0, 0, 0.75);
     -moz-box-shadow: 5px 5px 15px 1px rgba(0, 0, 0, 0.75);
     box-shadow: 5px 5px 15px 1px rgba(0, 0, 0, 0.75);
     height: 110vh;
}
.btn-primary {
     text-align: right;
}
#myForm {
     float: right;
}
#map {
     max-height: 100%;
     max-width: 100%;
}
ul, li {
  list-style: none;
  text-align: left;
  padding-left: 0;
}